.header__line {
    background-image: url(../../../vendor/pictures/header__line.jpg);
    width: calc(100% - 4px);
    border: 1px solid #545454;
    margin: 41px 0 0;
    opacity: 0.7;
}

@media screen and (max-width: 400px) {
    .header__line {
        margin: 32px 0 0;
    }
}