.popup__form-button_type_abled {
    color: #FFFFFF;
    background: #000000;
    border: 0;
    cursor: pointer;
}

.popup__form-button_type_abled:hover {
    opacity: .8;
}

@media screen and (max-width: 550px) {
    .popup__form-button {
        max-width: 238px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 23px;
    };
};