.popup__form-button_abled {
    max-width: 358px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    padding: 14px 0 18px;
    border: 0;
    cursor: pointer;
    margin-bottom: 37px;
}

.popup__form-button_abled:hover {
    opacity: .8;
}

@media screen and (max-width: 550px) {
    .popup__form-button_abled {
        max-width: 238px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 23px;
    }
}